/* General Styles */
body {
    font-family: "Lato", serif;
    font-weight: 300;
    font-style: normal;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
    color: #0a192f;
    text-align: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* Header */
header {
    margin-bottom: 20px;
}

/* Content Sections */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 20px;
}

.form-section {
    width: 100%;
    max-width: 500px;
}

.content {
    max-width: 500px;
    width: 90%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    border: 1px solid #ccd6f6;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(12px);
    transition: transform 0.3s ease-in-out;
    margin-top: 20px;
    margin-bottom: 32px;
}

.content:hover {
    transform: translateY(-5px);
}

/* Headings */
h1 {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 20px;
}

h2 {
    font-family: "Poiret One", serif;
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: 0;
    margin-bottom: 10px;
}

h3 {
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 1rem;
    margin-top: 0;
    text-align: right;
    width: 100%;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 20px;
    font-size: 1rem;
}

.input {
    padding: 10px;
    gap: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

input[type="date"] {
    padding: 12px;
    font-size: 1rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    border: 1px solid #ccd6f6;
    text-align: center;
    width: 70%;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="date"]:focus {
    border-color: #72e1c7;
    box-shadow: 0 0 5px rgba(100, 255, 218, 0.5);
}

button {
    padding: 12px;
    font-size: 1rem;
    font-family: "Lato", serif;
    font-weight: 400;
    background: #72e1c7;
    border: none;
    color: #0a192f;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease-in-out;
    font-weight: 600;
    width: 30%;
}

button:hover {
    background: #52e0c4;
    transform: scale(1.05);
}

/* Image */
#image-container {
    margin-top: 20px;
}

#image-container img,
#image-container iframe {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

#image-container img:hover,
#image-container iframe:hover {
    transform: scale(1.02);
}

/* Description */
#description {
    font-size: 1rem;
    margin-top: 15px;
    line-height: 1.6;
}

/* Footer */
footer {
    margin-top: auto;
    padding: 15px;
    text-align: center;
    font-size: 0.9rem;
}

/* Responsive */
@media (min-width: 768px) {
    .container {
        max-width: 600px;
    }

    h1 {
        font-size: 2.2rem;
    }
}
